
= form_for @market, :as => :market, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f|
  =render "shared/error_messages", :target => @market


  .p 
    Name: 
    = f.text_field :name
  .p 
    Start Date: 
    = select_date DateTime.now , :prefix => :start_date


  .p 
    Last trade allowed date: 
    = select_date DateTime.now.to_time.advance(:days => 10).to_date, :prefix => :last_trade_allowed_date

  - f.fields_for :outcomes do |builder|
    = render "outcome_fields", :f => builder
  .p
    = link_to_add_fields "Add Outcome", f, :outcomes
  
  = submit_tag "Create"
