
- @markets.each do |market|
  .span-24.market
    .span-10
      = market.name
    .span-3
      = market.start_date
    .span-4
      = market.last_trade_allowed_date.in_time_zone("Central Time (US & Canada)").strftime("%m/%d/%Y %H:%M") 
    .span-4.last
      - if market.end_date.nil?
        = link_to "Close market", market_management_path(market)
      - else
        Closed
      
= link_to "Create market", new_market_management_path
