
<%= form_for @market, :as => :market, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f| %>
	<%= render "shared/error_messages", :target => @market %>  


  <p>Name: <%= f.text_field :name %>
  <p>Start Date: <%= f.text_field :start_date %>

	<% f.fields_for :outcomes do |builder| %>
    <%= render "outcome_fields", :f => builder %>
	<% end %>
	<p><%= link_to_add_fields "Add Outcome", f, :outcomes %></p>
	
  <%= submit_tag "Create" %>
<% end %>