.span-24#errors
  = render "shared/error_messages", :target => @position

- if ! current_user.nil?
  .span-24#user_summary
    .span-4#username
      = current_user.username
    .span-20.last#usercash
      - if  ! current_user.admin
        You have $
        = "%0.2f" % current_user.cash
  

.span-24#marketboard
  - @markets.each do |market|
    .market.span-24.last
      .market-name.span-8
        = market.name
      .market-start.span-4
        = market.start_date
      .span-12.last
        = link_to 'View', market