.span-24#errors
	= render "shared/error_messages", :target => @position

- if ! current_user.nil?
	.span-24#user_summary
		.span-4#username
			= current_user.username
		.span-20.last#usercash
			- if  ! current_user.admin
				You have $
				= "%0.2f" % current_user.cash
	

.span-24#leaderboard
	- @markets.each do |market|
		.market.span-24.last
			.span-4
				.market-description
					= market.name
				.market-start
					= market.start_date
			.span-20.last
				%table.outcome
					%th Outcomes
					%th Sell Price
					%th Buy Price
					- if ! current_user.nil? 								
						%th Shares Owned
						
					%th Total Shares Held
					%th
					
					- market.outcomes.each do |outcome|
						- sell_price = outcome.sell_price
						- buy_price = outcome.buy_price
						%tr
							%td= outcome.description
							%td= "%0.4f" % sell_price
							%td= "%0.4f" % buy_price
							- if ! current_user.nil? 								
								- p = outcome.position_for_user(current_user)
								%td 
									- if !p.nil?
										= p.total_user_shares
							%td
								= outcome.shares_purchased 
							%td 
								- if ! current_user.nil? && ! current_user.admin								
									- if !p.nil? && p.total_user_shares > 0 
										= form_tag :controller => "markets", :action => "sell", :method => "post" do
											= hidden_field_tag :outcome_id, outcome.id
											= submit_tag "Sell 10 shares " + "$%0.2f" % (sell_price * 10)
									= form_tag :controller => "markets", :action => "buy", :method => "post" do
										= hidden_field_tag :outcome_id, outcome.id
										= submit_tag "Buy 10 shares " + "$%0.2f" % (buy_price * 10)
								
								
								
