.span-24#errors
	= render "shared/error_messages", :target => @position

- if ! current_user.nil?
	.span-24#user_summary
		.span-4#username
			= current_user.username
		.span-20.last#usercash
			You have $
			= "%0.2f" % current_user.cash
	

.span-24#leaderboard
	- @markets.each do |market|
		.market
			.span-4
				.market-description
					= market.name
				.market-start
					= market.start_date
			.span-20.last
				%table.outcome
					%th Outcomes
					%th Sell Price
					%th Buy Price
					%th Shares Owned
					%th Total Shares Purchased
					%th
					
					- market.outcomes.each do |outcome|
						%tr
							%td= outcome.description
							%td= "%0.4f" % outcome.sell_price
							%td= "%0.4f" % outcome.buy_price
							- p = outcome.position_for_user(current_user)
							%td 
								- if !p.nil?
									= p.total_user_shares
							%td
								= outcome.shares_purchased 
							%td 
								- if ! current_user.nil? 								
									- if !p.nil? && p.total_user_shares > 0 
										= form_tag :controller => "markets", :action => "sell", :method => "post" do
											= hidden_field_tag :outcome_id, outcome.id
											= submit_tag "Sell 10 shares " + "$%0.2f" % (outcome.sell_price * 10)
									= form_tag :controller => "markets", :action => "buy", :method => "post" do
										= hidden_field_tag :outcome_id, outcome.id
										= submit_tag "Buy 10 shares " + "$%0.2f" % (outcome.buy_price * 10)
								
								
								
