<!DOCTYPE html>
%html{:xmlns => "http://www.w3.org/1999/html", "xml:lang" => "en", :lang => "en"}
	%head
		%title Forespeak
		= stylesheet_link_tag 'blueprint/screen', :media => 'screen' 
		= stylesheet_link_tag 'blueprint/print',  :media => 'print'
		= stylesheet_link_tag 'forespeak' 
		= javascript_include_tag :defaults
		= csrf_meta_tag

	%body
		.container#wrapper 
			.span-24#header 
				.span-8#logo
					= image_tag('Lee_Rising_Sun2.jpg', :size => '263x135')
				.span-12.last#site_navigation
					%h1 Forespeak 
					%ol#navigation_list
						%li 
							%a{:title=>'Markets', :href => '/markets'} Markets
						%li 
							%a{:title=>'Leaderboard', :href => '/users'} Leaderboard
				.span-4#user_navigation
					=link_to 'Register', new_user_path
			.span-24.last#content
				- [:notice, :error, :message].each do |key| 
					- unless flash[key].blank? 
						%p{ :class => "flash flash_#{key}" }= flash[key]
				= yield
