<!DOCTYPE html>
%html{:xmlns => "http://www.w3.org/1999/html", "xml:lang" => "en", :lang => "en"}
	%head
		%title Forespeak
		= stylesheet_link_tag 'blueprint/screen', :media => 'screen' 
		= stylesheet_link_tag 'blueprint/print',  :media => 'print'
		= stylesheet_link_tag 'forespeak' 
		= javascript_include_tag :defaults
		= csrf_meta_tag

	%body
		.container#wrapper 
			.span-24#header 
				.span-21
					#site_title
						Forespeak 
					- if ! current_user.nil? && current_user.admin
						%a{:title=>'Market Admin', :href => '/admin/markets'} Markets Admin
						| 
						%a{:title=>'User Admin', :href => '/admin/users'} User Admin
						|
						
					%a{:title=>'Markets', :href => '/markets'} Markets 
					| 
					%a{:title=>'Leaderboard', :href => '/users'} Leaderboard
				.span-3.last
					-if current_user
						=link_to 'Edit Profile', edit_user_path(:current)
						|
						%a{:href => "/logout"} Logout 						
					-else 
						=link_to 'Register', new_user_path
						|
						%a{:href => "/login"} Login 
						
					
			.span-24.last#content
				- [:notice, :error, :message].each do |key| 
					- unless flash[key].blank? 
						%p{ :class => "flash flash_#{key}" }= flash[key]
				= yield
